/*This sets the text size for the paragraph about the package pricing*/
div.TheoryInformation {
    font-size: 20px;
  }


/*padding for the webpage*/
div.padding {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
  }